<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62887e">  <td>23/01/19 20:28:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestValidaciónMenuPrincipal.CP02_Agregar_producto_al_carrito_()[pri:1, instance:clasesTest.TestValidaciónMenuPrincipal@28f2a10f]">CP02_Agregar_producto_al_carrito_</td> 
  <td>main@1807648168</td>   <td></td> </tr>
<tr bgcolor="62887e">  <td>23/01/19 20:27:59</td>   <td>-8583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestValidaciónMenuPrincipal.setUp()[pri:0, instance:clasesTest.TestValidaciónMenuPrincipal@28f2a10f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1807648168</td>   <td></td> </tr>
<tr bgcolor="62887e">  <td>23/01/19 20:27:59</td>   <td>-8954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestValidaciónMenuPrincipal.CP01_Validación_Menú_Principal()[pri:0, instance:clasesTest.TestValidaciónMenuPrincipal@28f2a10f]">CP01_Validación_Menú_Principal</td> 
  <td>main@1807648168</td>   <td></td> </tr>
<tr bgcolor="62887e">  <td>23/01/19 20:28:09</td>   <td>1280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestValidaciónMenuPrincipal.tearDown()[pri:0, instance:clasesTest.TestValidaciónMenuPrincipal@28f2a10f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1807648168</td>   <td></td> </tr>
<tr bgcolor="62887e">  <td>23/01/19 20:27:59</td>   <td>-8583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestValidaciónMenuPrincipal.setUp()[pri:0, instance:clasesTest.TestValidaciónMenuPrincipal@28f2a10f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1807648168</td>   <td></td> </tr>
<tr bgcolor="62887e">  <td>23/01/19 20:28:09</td>   <td>1280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestValidaciónMenuPrincipal.tearDown()[pri:0, instance:clasesTest.TestValidaciónMenuPrincipal@28f2a10f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1807648168</td>   <td></td> </tr>
</table>
